@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap"');

/* Container and Header */
.passwordpage-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-color: #222;
  padding: 5rem 2rem;
}

.passwordpage-header {
  font-size: 4rem;
  color: white;
  margin-bottom: 2rem;
  border-bottom: 2px solid #007bff;
  padding-bottom: 0.5rem;
}

.password-text {
  color: #007bff;
}

/* Buttons */
.add-row-button,
.remove-row-button {
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-row-button {
  align-self: flex-end;
  background-color: green;
  margin-bottom: 20px;
}

.add-row-button:hover {
  background-color: #006400;
}

.remove-row-button {
  background-color: red;
  margin: 0 auto;
  padding: 8px;
}

.remove-row-button:hover {
  background-color: #8B0000;
}

/* Table and Cells */
.table-wrapper,
.table-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-height: 85vh;
  overflow-y: auto;
}

.table-container {
  width: 66.66%;
  margin-left: 33.33%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid white;
  padding: 1rem;
  text-align: center;
  color: white;
}

/* Input Fields */
.input-fields {
  display: flex;
  justify-content: space-between;
  width: 66.66%;
  margin-left: 33.33%;
  margin-bottom: 1rem;
}

.input-fields input {
  flex: 1;
  padding: 0.5rem;
  margin-right: 1rem;
}

/* Additional Styles */
.toggle-password-button,
.showHideButton {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.toggle-password-button {
  padding: 4px 8px;
  margin-left: 10px;
}

.showHideButton {
  padding: 3px 8px;
  margin: 3px;
  border: none;
  border-radius: 5px;
}

/* Scrollbar */
.table-wrapper::-webkit-scrollbar {
  width: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}